n8n/workflow-traffic.json
{
    "name": "SMP - Smart Traffic Monitor",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "traffic",
                "responseMode": "onReceived",
                "options": {}
            },
            "id": "4a4a4a4a-0004-0004-0004-000000000001",
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                250,
                300
            ]
        },
        {
            "parameters": {
                "jsCode": "const input = $input.first().json.body || $input.first().json;\nconst m = input.metrics;\nlet status = 'normal';\nlet message = 'Traffic flow is normal.';\n\nif (m.accident === 1) {\n  status = 'critical';\n  message = '🚗 ACCIDENT DETECTED! Emergency response needed!';\n} else if (m.congestion === 2 || m.vehicle_density > 90) {\n  status = 'warning';\n  message = '🚦 Heavy traffic congestion. Density: ' + m.vehicle_density + ' v/min';\n}\n\nreturn [{\n  json: {\n    deviceId: input.deviceId || 'dev_traf_01',\n    domain: 'traffic',\n    metrics: m,\n    status: status,\n    message: message,\n    timestamp: Date.now()\n  }\n}];"
            },
            "id": "4a4a4a4a-0004-0004-0004-000000000002",
            "name": "Evaluate Traffic",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                500,
                300
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://host.docker.internal:3000/api/ingest",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify($json) }}",
                "options": {}
            },
            "id": "4a4a4a4a-0004-0004-0004-000000000003",
            "name": "POST to Core",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4,
            "position": [
                760,
                300
            ]
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Evaluate Traffic",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Evaluate Traffic": {
            "main": [
                [
                    {
                        "node": "POST to Core",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    },
    "pinData": {},
    "meta": {
        "instanceId": "smp-spla-demo"
    }
}