n8n/workflow-hospital.json
{
    "name": "SMP - Hospital Patient Monitoring",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "hospital",
                "responseMode": "onReceived",
                "options": {}
            },
            "id": "2a2a2a2a-0002-0002-0002-000000000001",
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                250,
                300
            ]
        },
        {
            "parameters": {
                "jsCode": "const input = $input.first().json.body || $input.first().json;\nconst m = input.metrics;\nlet status = 'normal';\nlet message = 'Patient vitals stable.';\n\nif (m.heart_rate > 150 || m.spo2 < 90) {\n  status = 'critical';\n  message = '🚨 CRITICAL: HR=' + m.heart_rate + 'bpm, SpO2=' + m.spo2 + '%';\n} else if (m.heart_rate > 120 || m.spo2 < 95 || m.blood_pressure > 140) {\n  status = 'warning';\n  message = '⚠️ Warning: Vitals need attention. HR=' + m.heart_rate + ', SpO2=' + m.spo2;\n}\n\nreturn [{\n  json: {\n    deviceId: input.deviceId || 'dev_hosp_01',\n    domain: 'hospital',\n    metrics: m,\n    status: status,\n    message: message,\n    timestamp: Date.now()\n  }\n}];"
            },
            "id": "2a2a2a2a-0002-0002-0002-000000000002",
            "name": "Evaluate Vitals",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                500,
                300
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://host.docker.internal:3000/api/ingest",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify($json) }}",
                "options": {}
            },
            "id": "2a2a2a2a-0002-0002-0002-000000000003",
            "name": "POST to Core",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4,
            "position": [
                760,
                300
            ]
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Evaluate Vitals",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Evaluate Vitals": {
            "main": [
                [
                    {
                        "node": "POST to Core",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    },
    "pinData": {},
    "meta": {
        "instanceId": "smp-spla-demo"
    }
}